:root {
  --main-color: #008B98;
  --white: #FFFFFF;
  --green: #3CBB52;
  --main-color-o5: #008b9870;
  --mw-1360: 1360px;
  --mw-992: 992px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: var(--white);
  background-color: var(--main-color) !important;
}

.text-green {
  color: var(--green) !important;
}

input::placeholder {
  color: #949494 !important;
}

input:focus {
  box-shadow: 0 0 0 0.25rem var(--main-color-o5) !important;
  border-color: var(--main-color) !important;
}

img {
  position: unset !important;
  height: unset !important;
  top: unset !important;
  bottom: unset !important;
  left: unset !important;
  right: unset !important;
}

a {
  text-decoration: none !important;
}

.text-main-color {
  color: var(--main-color) !important;
}

.fs-10 {
  font-size: 12px;
}

.home-top {
  background: center / cover no-repeat url("/images/banner-home1.png");
  height: 92vh;
}

.bg-main-color {
  background-color: var(--main-color) !important;
}

.products-bg {
  background: center / cover no-repeat url("/images/background-produtos.png");
}

.section-heading {
  color: var(--white);
  text-align: center;
  font-style: normal;
  font-weight: 900 !important;
  line-height: 61.615px;
  display: inline-block;
  position: relative;
}

.section-heading::after {
  position: absolute;
  content: '';
  width: 179.489px;
  height: 6.773px;
  background-color: var(--main-color);
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.zIndex-1 {
  z-index: 1;
}

.scale-image {
  transition: .6s ease;
}

.scale-image:hover {
  transform: scale(1.1);
}

.text-product {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  opacity: 0;
  transition: .6s ease;
  pointer-events: none;
  transition: .5s ease;
}

.scale-image:hover+.text-product {
  opacity: 1;
  bottom: 50%;
  transform: translate(-50%, 50%);
}

.btn-main {
  background-color: var(--main-color) !important;
  width: 400px;
}

.btn-green {
  background-color: var(--green) !important;
  width: 400px;
}

.scale {
  transition: .5s ease !important;
}

.scale:hover {
  transform: scale(1.1) !important;
}

.ff-poppins-medium{
  font-family: var(--font-poppins-medium);
}

.w-60 {
  width: 60% !important;
}

.mt-m5{
  margin-top: -10vh;
}

.differentials-bg-whats{
  min-height: 440px;
  background: center / cover no-repeat url('/images/background-diferenciais-whatsapp.png');
}

.after-none::after {
  display: none;
}

.mb-n10 {margin-bottom: -10px;}