:root {
  --main-color: #008B98;
  --white: #FFFFFF;
  --green: #3CBB52;
  --main-color-o5: #008b9870;
  --mw-1360: 1360px;
  --mw-992: 992px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar-track {
  background-color: var(--main-color);
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 6px;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: var(--white);
  background-color: var(--white) !important;
}

.text-green {
  color: var(--green) !important;
}

input::placeholder {
  color: #d0d0d0 !important;
}

.form-control:focus {
  color: var(--bs-body-color);
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(214, 214, 214, 0.25) !important;
}

input:focus {
  box-shadow: 0 0 0 0.25rem var(--main-color-o5) !important;
  border-color: var(--main-color) !important;
}

img {
  position: unset !important;
  height: unset !important;
  top: unset !important;
  bottom: unset !important;
  left: unset !important;
  right: unset !important;
}

a {
  text-decoration: none !important;
}

.text-main-color {
  color: var(--main-color) !important;
}

.fs-10 {
  font-size: 12px;
}

.home-top {
  background: center / cover no-repeat url("/images/banner-home1.png");
  height: 92vh;
}

.catalog-top {
  background: center / cover no-repeat url("/images/banner-produtos.png");
  height: 50vh;
}

.bg-main-color {
  background-color: var(--main-color) !important;
}

.products-bg {
  background: center / cover no-repeat url("/images/background-produtos.png");
  background-color: var(--main-color);
}

.section-heading {
  color: var(--white);
  text-align: center;
  font-style: normal;
  font-weight: 900 !important;
  line-height: 61.615px;
  display: inline-block;
  position: relative;
}

.section-heading::after {
  position: absolute;
  content: '';
  width: 179.489px;
  height: 6.773px;
  background-color: var(--main-color);
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.zIndex-1 {
  z-index: 1;
}

.scale-image {
  transition: .6s ease;
}

.scale-image:hover {
  transform: scale(1.1);
}

.text-product {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  opacity: 0;
  transition: .6s ease;
  pointer-events: none;
  transition: .5s ease;
}

.scale-image:hover+.text-product {
  opacity: 1;
  bottom: 50%;
  transform: translate(-50%, 50%);
}

.btn-main {
  background-color: var(--main-color) !important;
  width: clamp(200px, 90%, 400px);
}

.btn-green {
  background-color: var(--green) !important;
  width: clamp(200px, 90%, 400px);
}

.w-400 {
  width: clamp(200px, 90%, 400px);
}

.scale {
  transition: .5s ease !important;
}

.scale:hover {
  transform: scale(1.1) !important;
}

.ff-poppins-medium {
  font-family: var(--font-poppins-medium);
}

.w-60 {
  width: 60% !important;
}

.mt-m5 {
  margin-top: -10vh;
}

.h-300 {
  height: 300px !important;
}

.mw-300 {
  max-width: 300px;
}

.differentials-bg-whats {
  min-height: 440px;
  background: center / cover no-repeat url('/images/background-diferenciais-whatsapp.png');
}

.after-none::after {
  display: none;
}

.mb-n10 {
  margin-bottom: -10px;
}

.flip-vertical {
  transform: rotateX(180deg);
}

.border-green {
  border-color: #43cf5a !important;
}

.border-green-shadow {
  border-color: var(--green);
  box-shadow: 0 0 10px var(--green);
}

.card-feedback {
  cursor: pointer;
  transition: .6s ease-in;
}

.card-feedback img {
  max-width: 300px;
  height: 500px !important;
}

.card-feedback:not(.card-active) {
  filter: blur(2px);
  transform: scale(0.9);
}



.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none !important;
  filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.5));
  transform: scale(1.1);
}

.w-md-50 {
  width: 50%;
}

.arrow {
  top: 50% !important;
  transform: translateY(-50%);
  transition: .5s ease;
  filter: drop-shadow(0 0 4px rgb(255, 255, 255));
}

.arrow:hover {
  transform: translateY(-50%) scale(1.1);
}

.arrow-prev {
  left: 0 !important;
}

.arrow-next {
  right: 0 !important;
}

@media screen and (max-width: 992px) {
  .card-feedback img {
    width: 300px !important;
    height: 500px !important;
  }

  .w-md-50 {
    width: 100% !important;
  }

  .fs-4 span {
    font-size: 18px !important;
  }

  .feedback.overflow-hidden {
    overflow: auto !important;
  }

  .feedback::-webkit-scrollbar-thumb {
    background-color: transparent !important;

  }
}

.bg-opacity {
  background-color: rgba(0, 0, 0, 0.25);
}

.left-0 {
  left: 0 !important;
}

.spinner {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
}

.whats-fixed {
  bottom: 20px;
  right: 20px;
  width: clamp(50px, 4vw, 100px);
  animation: whatsFloating 4s linear infinite;
}

@keyframes whatsFloating {
  0% {
    scale: 1;
    transform: translateY(0);
  }

  50% {
    scale: 1.1;
    transform: translateY(-5px);
    filter: drop-shadow(0 0 4px rgb(13, 248, 33));
  }

  100%{
    scale: 1;
    transform: translateY(0);
  }
}